/* 内容区域 */
.rules-content {
    width: 100%;
    height: 100%;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
}

/* 左侧联系展示区域 */
.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.rules-content .content-left {
    width: 20%;
    height: 100%;
    border: 1px solid white;
    box-shadow: white 1px 1px 2px;
    padding: 10px;
    margin-right: 5px;
}
.rules-content .content-left .panel-heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 19px;
}
.rules-content .content-left .contact-ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.rules-content .content-left .contact-ul li{
    width: 100%;
    font-size: 17px;
    height: 40px;
    font-weight: 600;
}
.contact .panel-default{
    margin: 0px;
    margin-bottom: 20px;

}
.contact .panel-default>.panel-heading{
    background-color: rgb(221, 243, 254);
}


/* 右侧区域的内容 */
.rules-content .content-right {
    width: 80%;
    height: 100%;
    border: 1px solid white;
    box-shadow: white 1px 1px 2px;
}


/* 右侧面板的头部标题 */
.content-right .panel-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
    padding: 15px 10px;
}
.content-right .panel-heading p,.breadcrumb{
    margin: 0px;
    display: flex;
    align-items: center;
}
.content-right .panel-heading p .title-header{
    font-size: 25px;
    font-weight: 700;
}
.content-news .panel {
    margin-bottom: 0px;
}

/* 右侧正文内容 */

.content-news .panel-body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start; 
}
.content-news .panel-body .item-work{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: #e5e5e5 0px 0px 2px;
    padding: 20px;
} 
.content-news .panel-body .item-work .page-header{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.content-news .panel-body .item-work .page-header .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-news .panel-body .item-work .page-header .title h3{
    margin: 0px;
}
.content-news .panel-body .item-work .page-header .title a{
    margin-top:2px;
}

.item-work .work-content{
    padding-top: 20px;
    font-size: 18px;
    text-indent: 2em;
    line-height: 30px;
    letter-spacing: 2px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 正文的分页按钮 */
.content-right .content-page{
  display: flex;
  justify-content: center;
}
