/* 初始化样式 */
body {
    margin: 0;
    padding: 0;
    background: #e5e5e5;
    overflow-x: hidden;
    padding-bottom: 20px;

}

/* ================华丽的分割线====================== */

/* 头部的图片的文字 */
.header {
    width: 100%;
    overflow: hidden;
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px;
}

.header .header-logo {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}

.header .header-logo .logo-left {
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

.header .header-logo .logo-left .logo-img {
    width: 20%;
    height: 105px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-logo .logo-left .logo-img img {
    height: 90%;
}

.header .header-logo .logo-left .logo-text {
    width: 70%;
    height: 105px;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0%;
}

.header .header-logo .logo-left .logo-text img {
    height: 70%;
}

.header .header-logo .logo2 {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.header .header-logo .logo2 img {
    width: 50%;
}

/* ================华丽的分割线====================== */


/* 首页的导航栏 */
.navbar {
    background-color: rgb(71, 108, 145);
    color: white;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px;
    border-radius: 0px;
}

.container-fluid {
    display: flex;
    justify-content: space-around;
    padding:0px;
}

#bs-example-navbar-collapse-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav .navbar-nav {
    margin-left: 100px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 700;
}

/* .media-navbar {
    display: none;
} */

/* 响应式式导航栏样式 */

@media screen and (max-width:750px) {

    /* 头部 */
    .header .header-logo {
        height: 50px;
    }

    .header .header-logo .logo-left {
        width: 60%;
        overflow: hidden;
    }

    .header .header-logo .logo-left .logo-img {
        height: 50px;
        width: 25%;
    }

    .header .header-logo .logo-left .logo-text {      
        height: 100%;
    }

    .header .header-logo .logo-left .logo-text img {
      width: 100%;
    }

    .header .header-logo .logo2 {
        width: 40%;
    }

    .header .header-logo .logo2 img {
		width:80%;
    }

    /* 导航栏部分 */
    .navbar {
        display: block;
    }

    #bs-example-navbar-collapse-1 {
        width: 100%;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        overflow-y: scroll;
        justify-content: flex-start;
    }

    .nav>li {
        white-space: nowrap;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 15px;
    }

    /* 底部 */
    .footer {
        font-size: 14px;
    }
    .connectMe{
        display: none;
    }
}

/* 中等屏幕 */
@media screen and (max-width:970px){
    .header .header-logo .logo-left{
        width: 60%;
    }
    .header .header-logo .logo2{
        width: 40%;
    }
    .header .header-logo .logo2 img{
        width: 80%;
    }
}

@media screen and (max-width:1170px){
    .header .header-logo .logo2 img{
        width: 70%;
    }
    .an-content .an-ul li{
        padding: 5px 5px;
    }
    .panel-body{
        padding: 0px;
    }
}
/* ================华丽的分割线====================== */

/* 页脚 */
.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;

}

.footer span {
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 5px auto;
}


.html-container{
    position: relative;
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.html-body{
    width: 100%;
}
.html-footer{
    width: 100%;
    height: 10%;
}
/* ================华丽的分割线====================== */



/* 回到顶部 */
.back-header {
    width: 50px;
    height: 50px;
    z-index: 999;
    bottom: 60px;
    right: 50px;
    position: fixed;
    display: none;
}

.back-header:hover {
    cursor: pointer;
}

.icon-icon-test {
    width: 4em;
    height: 4em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.content-news .a-pages {
    display: flex;
    justify-content: center;
}

.content-news {
    width: 100%;
}
.row{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

