.news-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.news-content .news {
    width: 100%;
    height: 100%;
}

.news-content .news .page-header {
    border-bottom: 1px solid black;
}

.news-content .news .new-item {
    list-style: none;
    margin: 0px;
    padding: 0px;
    min-height: 200px;
}

.news-content .news .new-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
}

.news-content .news .new-item .title{
    width:70%;
    display: flex;
    justify-content: flex-start;
}

.news-content .news .new-item li a {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.news-content .barcode {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 20%;
}

.news-content .barcode .img-item {
    width: 35%;
    margin-left: 30px;
    margin-top: 30px;

}

.news-content .barcode .img-item img {
    width: 100%;
}

.news-content .barcode .img-item .text {
    font-size: 18px;
    text-align: center;
}

.row {
    width: 100%;
}

/* 响应式布局代码 */

@media screen and (max-width:750px) {
    .lunbotu {
        height: 100%;
    }

    .swiper-container {
        height: 100%;
    }

    .container {
        width: 100%;
    }
    .news-content .news .new-item li{
        font-size: 14px;
    }
}
@media screen and (max-width:1170px){
    .lunbotu{
        height:100%;
    }
    .swiper-container{
        height: 100%;
    }
}