<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <mvc:annotation-driven/>
    <mvc:default-servlet-handler />

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <context:annotation-config/>
    <context:component-scan base-package="cn.pzhu.logistics"/>

    <context:property-placeholder location="classpath:db.properties"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
        <property name="testOnBorrow" value="true"/>
        <property name="connectionProperties" value="useUnicode=true;characterEncoding=UTF-8;serverTimezone=Asia/Shanghai;useSSL=false"/>
        <property name="initialSize" value="5"/>
        <property name="maxActive" value="20"/>
        <property name="maxIdle" value="20"/>
        <property name="minIdle" value="10"/>
        <property name="maxWait" value="5000"/>
        <!-- 连接泄漏回收参数，当可用连接数少于3个时才执行 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 连接泄漏回收参数 -->
        <property name="removeAbandonedTimeout" value="10"/>

        <property name="logAbandoned" value="true"/>
        <!-- 每30秒运行一次空闲连接回收器 -->
        <property name="timeBetweenEvictionRunsMillis" value="30000"/>
        <!-- 每次检查连接的数量 -->
        <property name="numTestsPerEvictionRun" value="20"/>
        <!--连接保持空闲而不被驱逐-->
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
    </bean>

    <!-- 配置切面 -->
    <bean id="log" class="cn.pzhu.logistics.aop.WebLogAspect"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="suffix" value=".jsp"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.jpeg"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/*.ico"/>
            <bean class="cn.pzhu.logistics.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>